@baseFontSize: 16px;
@splitLineColor: #d5d5d5;
@sureBtnColor: #517bd1;

@correctIcon: '../images/correct.png';
@decoprize: '../images/decoprize.png';
@deco2Elec: '../images/deco2Elec.png';
@decoSingleElec: '../images/decorateElec.png';

.grayShow{
  color: #7d7d7d;
}
.function-rem(@px) {
  return: @px / @baseFontSize * 1rem;
}

.modal-dialog{
  border-radius: rem(1px);
  text-align: center;
  width: rem(324px);
  margin: 0 auto;
  z-index: 9000;
  position:fixed;
  box-shadow: 0px 0px rem(7px) 0px rgba(0, 0, 0, 0.2);
  &.dlg-no-title{
    header{
      height: rem(28px);
    }
    .dialog-content{
      color: #000;
    }
    section{
      text-align: left;
    }
  }
  &.dlg-has-title{
    header{
      padding: rem(29px) 0px rem(10px) 0px;
      font-size: rem(18px);
    }
  }
  &.alert-dialog{
    section{
      text-align: center;
    }
  }
  .dialog-mask{
    display: block;
    background: rgba(0,0,0,0.2);
  }
  .modal-dialog-main{
    position: relative;
    z-index: 9000;
    background: #fafafa;
    font-size: rem(16px);
    border-radius: rem(3px);
  }
  .dialog-title{
    color: #000;
  }
  .dialog-content{
    color: #323232;
    line-height: 1.6;
  }
  em{
    font-style: normal;
  }
  input,textarea{
    outline: 0;
    border: 0;
    background: transparent;
    font: inherit;
    font-size: rem(16px);
  }
  section{
    padding: 0px rem(26px);
    margin: 0 auto;
    max-height: rem(188px);
    overflow: hidden;
    position: relative;
  }
  footer{
    border-top: rem(1px) solid @splitLineColor;
    height: rem(45px);
    line-height: rem(45px);
    margin-top: rem(20px);
    overflow: hidden;
    button{
      outline: none;
      border: 0;
      padding: 0;
      background: none;
      font-size: rem(16px);
      height: rem(45px);
      &.modal-dialog-onebtn{
        width: 100%;
      }
      &:after{
        content: '';
        border-right: rem(1px) solid @splitLineColor;
        position: absolute;
        top: 0px;
        display: block;
        height: 100%;
        right: 0px;
      }
      &.last{
        &:after{
          display: none;
        }
      }
    }
    .sure-btn,.cancle-btn{
      width: 50%;
      float: left;
      position: relative;
    }
    .cancle-btn{
      color: #000000;
    }
    .sure-btn{
      color: @sureBtnColor;
    }
  }
  &.alert-dialog{
    footer{
      text-align: center;
      .sure-btn{
        float: none;
        margin: 0 auto;
      }
    }
  }
  .charge-form{
    position: relative;
    padding-top: rem(7px);
    padding-bottom: rem(11px);
    .form-tip{
      position: absolute;
      display: none;
      font-weight: 300;
      padding: rem(3px) 0 0 rem(12px);
      font-size: rem(12px);
    }
    .valid-input{
      border-bottom: rem(1px) solid @splitLineColor;
      padding-bottom: rem(7px);
      width: 100%;
      box-sizing: border-box;
      &:focus{
        &+label{
          color: #000;
        }
        border-bottom-color: #517bd1;
      }
    }
    &.dlg-success:after{
      content: '';
      display: block;
      background: url(@correctIcon) no-repeat;
      position: absolute;
      top: rem(13px);
      right: rem(13px);
      width: rem(19px);
      height: rem(14px);
      background-size: contain;
    }
    &.dlg-error{
      input{
        border-bottom-color: #df2b18;
      }
      .form-tip{
        display: block;
        color: #df2b18;
      }
    }
  }
}
.charge-dialog{
  header{
    height: rem(40px);
  }
  section{
    overflow: initial;
  }
  label{
    position: absolute;
    left: rem(12px);
    .grayShow;
  }
  input{
    padding: 0px 0px rem(7px) rem(92px);
  }
  .hasconfirm{
    input{
      .grayShow;
    }
    .form-tip{
      color: #517bd1;
      display: block;
    }
  }
}
.dialog-mask{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 8999;
  background: rgba(0,0,0,0.5);
  display: none;
}
.myaward-dialog{
  section{
    padding: 0 rem(19px);
  }
  .dlg-award-list{
    ul{
      padding-top: rem(6px);
      li{
        overflow: hidden;
        padding: rem(3px) 0px;
        position: relative;
        height: rem(46px);
        line-height: rem(46px);
        &:after{
          content: '';
          position: absolute;
          bottom: 0px;
          left: 0px;
          border-bottom: rem(1px) solid @splitLineColor;
          width: 100%;
          display: block;
        }
        &:last-child{
          &:after{
            display: none;
          }
        }
        img{
          float: left;
          position: relative;
          z-index: 3;
          height: rem(46px);
        }
        .item-title{
          padding-left: rem(12px);
          float: left;
          max-width: rem(152px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: left;
        }
        .item-oper{
          font-style: normal;
          font-size:  rem(16px);
          color: #517bd1;
          float: right;
        }
      }
    }
  }
  footer{
    margin-top: rem(19px);
  }
}
.rule-dlg{
  section{
    max-height: rem(295px);
    padding: 0 rem(32px);
  }
  .dialog-content{
    color: #000;
    text-align: left;
    font-size: rem(13px);
    margin-top: rem(6px);
  }
}
.winner-list-dlg{
  section{
    max-height: rem(295px);
  }
  footer{
    margin-top: 0px;
  }
  .inr-winlist{
    color: #000;
    padding-bottom: rem(26px);
    ul{
      list-style: none;
      text-align: left;
      line-height: 1.4;
      li{
        border-bottom: 1px solid @splitLineColor;
        padding: rem(3px) rem(13px) rem(7px);
        &:first-child{
          padding: rem(2px) rem(13px) rem(8px);
        }
        &:last-child{
          border-bottom: 0;
        }
        em{
          font-size: rem(12px);
        }
        .prz-tle{
          font-size: rem(14px);
        }
      }
    }
  }
}
.prize-dlg{
  .inr-prz{
    color: #000;
    .prz-name{
      font-weight: 300;
      color:#508aeb;
    }
    .dec-prize{
      width: rem(117px);
      margin: rem(10px) auto 0px;
      position: relative;
      &:after{
        content: '';
        display: block;
        position: absolute;
        top:0px;
        left:0px;
        width: 100%;
        height: rem(62px);
        background: url(@decoprize) no-repeat left top;
        background-size: contain;
      }
    }
  }
  .ele-userule{
    text-align: left;
    color: #7F7F7F;
    font-size: rem(12px);
  }
}
.virtual-dlg{
  .charge-form{
    text-align: left;
    padding: rem(10px) 0;
    .valid-input{
      padding-left: rem(12px);
    }
    &.dlg-error{
      padding: rem(10px) 0 rem(1px);
      .form-tip{
        position: static;
        padding: rem(2px) 0 0 rem(11px);
      }
    }
  }
  footer{
    margin-top: rem(16px);
  }
}
.electronic-dlg{
  &.dlg-has-title{
    header{
      padding-bottom: rem(8px);
    }
  }
  &.dlg-no-title{
    section{
      text-align: center;
    }
  }
  .dec-code{
    position: relative;
    padding-top: rem(9px);
    &:after{
      content: '';
      display: block;
      position: absolute;
      top: rem(-5px);
      left:0px;
      width: 100%;
      height: 100%;
      background: url(@deco2Elec) no-repeat center;
      background-size: 89%;
    }
  }
  .ticket-code{
    line-height: rem(37px);
    height: rem(37px);
    width: rem(272px);
    margin-bottom: rem(7px);
    color: #fff;
    border-radius: rem(2px);
    background-color: #508aeb;
    span{
      position: relative;
      z-index: 1;
    }
    &:last-child{
      margin-bottom: rem(10px);
    }
  }
  &.single-ticket{
    .dec-code{
      &:after{
        background-image: url(@decoSingleElec);
      }
      .ticket-code:last-child{
        display: none;
      }
    }
    section{
      max-height: 125px;
    }
  }
}
.actual-dlg{
  footer{
    margin-top: rem(16px);
  }
}
.personinfo-dialog{
  section{
    max-height: rem(250px);
  }
  textarea.valid-input{
    padding: 0px 0px 0.4375rem 5.75rem;
    transition: height 300ms ease;
    resize: none;
  }
  .dlg-error{
    &:last-child{
      .valid-input{
        // padding-bottom: rem(28px);
      }
    }
    .form-tip{
      position: static;
    }
  }
  .dirty{
    label{
      color: #000;
    }
  }
  footer{
    margin-top: rem(18px);
  }
}
#loading-box {
  background-color: rgba(40,40,40,.2);
  .load-contain {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 45%;
    -webkit-animation: rotate 2.0s infinite linear;
  }
  .load1,.load2 {
    position: absolute;
    width: 60%;
    height: 60%;
    display: inline-block;
    top: 0;
    background-color: rgba(0,203,254,.8);
    border-radius: 100%;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
  }
  .load2 {
      top: auto;
      bottom: 0px;
      -webkit-animation-delay: -1.0s;
  }
  @-webkit-keyframes rotate {
    100% { -webkit-transform: rotate(360deg) }
  }

  @-webkit-keyframes bounce {
      0%, 100% { -webkit-transform: scale(0.0) }
      50% { -webkit-transform: scale(1.0) }
  }
}
.dlg-animation{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.hiddentxt {
    display: inline-block;
    position: absolute;
    top: -9999px;
    left: 0px;
    font-size: rem(16px);
}