.modal-dialog{
  background: #fafafa;
  width: 90%;
  z-index: 9000;
  border-radius: 3px;
  text-align: center;
  .dialog-title{
    color: #000;
    font-size: 16px;
  }
  .dialog-content{
    color: #7d7d7d;
  }
  header{
    height: 40px;
    line-height: 40px;
  }
  section{
    text-align: center;
    width: 83%;
    margin: 0 auto;
    max-height: 200px;
    overflow: hidden;
    position: relative;
    padding-top: 10px;
    .dialog-content{
      // position: absolute;
    }
  }
  footer{
    border-top: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    overflow: hidden;
    .sure-btn,.cancle-btn{
      width: 50%;
      float: left;
      position: relative;
    }
    .cancle-btn{
      a{
        color: #323232;
      }
      &:after{
        content: '';
        border-right: 1px solid #ccc;
        position: absolute;
        top: 0px;
        display: block;
        height: 100%;
        right: 0px;
      }
    }
    .sure-btn{
      a{
        color: #64a45e;
      }
    }
  }
  &.alert-dialog{
    footer{
      text-align: center;
      .sure-btn{
        float: none;
        margin: 0 auto;
      }
    }
  }
  &.dlg-animation{
    --webkit-transform-origin: center center;
    -webkit-animation: dialogAnimate 0.15s ease-in;
  }
  @-webkit-keyframes dialogAnimate {
    0% {
      -webkit-transform: rotateZ(0); }
    20% {
      -webkit-transform: rotateZ(3deg); }
    40% {
      -webkit-transform: rotateZ(0); }
    60% {
      -webkit-transform: rotateZ(-3deg); }
    70% {
      -webkit-transform: rotateZ(0deg); }
    80% {
      -webkit-transform: rotateZ(1deg); }
    90% {
      -webkit-transform: rotateZ(0deg); }
    95% {
      -webkit-transform: rotateZ(-1deg); }
    100% {
      -webkit-transform: rotateZ(0);
    }
  }
}
.dialog-mask{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 8999;
  background: rgba(0,0,0,0.5);
  display: none;
}
.dlg-award-list{
  ul{
    li{
      overflow: hidden;
      padding: 10px 0px;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        bottom: 0px;
        right: 0px;
        border-bottom: 1px dashed #000;
        width: 80%;
        display: block;
      }
      img{
        float: left;
        width: 50px;
        position: relative;
        z-index: 3;
        width: 20%
      }
      .item-title{
        float: left;
      }
    }
  }
  .address-controller{
    height: 50px;
    line-height: 50px;
    color:#323232;
    text-align: left;
    padding-top: 25px;
    .dlg-address{
      float: left;
      width: 40%;
      margin-left: 16%;
    }
    .dlg-input{
      float: left;
      width: 40%;
      color: #64a45e;
    }
  }
}
.personinfo-dialog{
  header{
    height: 10px;
  }
  section{
    max-height: 215px;
  }
  footer{
    border-top:none;
    text-align: center;
    margin: 10px 0px 20px 0px;
    font-size: 16px;
    .sure-btn,.cancle-btn{
      float: none;
      display: inline-block;
      width: 115px;
      border-radius: 15px;
      height: 32px;
      line-height: 32px;
      margin-right: 10px;
      a{
        color: #fff;
      }
    }
    .sure-btn{
      background: #64a45e;
    }
    .cancle-btn{
      background: #afafaf;

      &:after{
        content: '';
        display: none;
      }
    }
  }
  .form-item{
    height: 40px;
    position: relative;
    line-height: 40px;
    color: #323232;
    margin-bottom: 15px;
    &:after{
      content: '';
      position: absolute;
      bottom: 0px;
      right: 0px;
      border-bottom: 1px dashed #000;
      width: 100%;
      display: block;
    }
    .form-text{
      height: 32px;
      line-height: 32px;
      background: #fafafa;
      outline: none;
      border: none;
    }
    label{
      float: left;
      width: 80px;
      text-align: left;
    }
  }
}
#loading-box {
  background-color: rgba(40,40,40,.2);
  .load-contain {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 45%;
    -webkit-animation: rotate 2.0s infinite linear;
  }
  .load1,.load2 {
    position: absolute;
    width: 60%;
    height: 60%;
    display: inline-block;
    top: 0;
    background-color: rgba(0,203,254,.8);
    border-radius: 100%;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
  }
  .load2 {
      top: auto;
      bottom: 0px;
      -webkit-animation-delay: -1.0s;
  }
  @-webkit-keyframes rotate {
    100% { -webkit-transform: rotate(360deg) }
  }

  @-webkit-keyframes bounce {
      0%, 100% { -webkit-transform: scale(0.0) }
      50% { -webkit-transform: scale(1.0) }
  }
}
.dlg-animation{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}